<mat-progress-bar *ngIf="isDownloadingCapture || isUploadingCapture"
                  mode="indeterminate"
                  color="accent">
</mat-progress-bar>

<h2>Mis Capturas</h2>

<table mat-table [dataSource]="captures$" class="mat-elevation-z8">

  <ng-container matColumnDef="number">
    <th mat-header-cell *matHeaderCellDef>No.</th>
    <td mat-cell *matCellDef="let capture">{{capture.number}}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nombre</th>
    <td mat-cell *matCellDef="let capture">
      <a role="button" (click)="downloadCapture(capture.id)">
        {{capture.name}}
      </a>
    </td>
  </ng-container>

  <ng-container matColumnDef="timestamp">
    <th mat-header-cell *matHeaderCellDef>Fecha y hora de subida</th>
    <td mat-cell *matCellDef="let capture">
      {{capture.timestamp | date:'yyyy-MM-dd HH:mm:ss'}}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="capturesTableColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: capturesTableColumns;"></tr>
</table>

<button mat-fab aria-label="Añadir captura" (click)="fileInput.click()">
  <mat-icon>add</mat-icon>
</button>

<input type="file"
       #fileInput
       (change)="onFileSelect($event)"
       accept="application/JSON">
