:host {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  --toolbar-height: 64px;
}

mat-sidenav-container, mat-sidenav-content, main {
  display: flex;
  flex-direction: column;
  flex: auto;
}

mat-sidenav {
  position: fixed;
  top: var(--toolbar-height, 0);
  left: 0;
  bottom: 0;
  width: 256px;
}
