:host {
  margin: auto;
  text-align: center;
}

mat-progress-bar {
  position: absolute;
  top: var(--toolbar-height, 0);
  left: 0;
  right: 0;
}

h2 {
  margin-bottom: 40px;
}

mat-form-field {
  display: block;
  width: 500px;
  margin: auto;
}

mat-form-field:not(:first-of-type) {
  margin-top: 16px;
}

mat-checkbox {
  display: block;
  text-align: start;
  margin-top: 16px;
}

button[type="submit"] {
  margin-top: 32px;
}
