<mat-progress-bar *ngIf="isSubmitting" mode="indeterminate" color="accent">
</mat-progress-bar>

<h2>Iniciar Sesión</h2>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

  <mat-form-field appearance="outline">
    <mat-label>Correo electrónico</mat-label>
    <input matInput type="email" formControlName="email">
    <mat-error *ngIf="shouldDisplayErrorMessage('email')">
      {{getErrorMessage('email')}}
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Contraseña</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error *ngIf="shouldDisplayErrorMessage('password')">
      {{getErrorMessage('password')}}
    </mat-error>
  </mat-form-field>

  <button mat-raised-button
          type="submit"
          color="primary"
          [disabled]="loginForm.invalid || isSubmitting">
    INICIAR SESIÓN
  </button>

</form>
