:host {
  margin: auto;
  text-align: center;
}

mat-progress-bar {
  position: absolute;
  top: var(--toolbar-height, 0);
  left: 0;
  right: 0;
}

mat-form-field {
  width: clamp(500px, 50%, 1000px);
}

mat-form-field:not(:first-of-type) {
  margin-top: 8px;
}

button[type="submit"] {
  margin-top: 16px;
}
